@using DotJira;
@model IEnumerable<Issue>
@{ 
    string colorCardBasedOnRAG(Issue issue)
    {
        string color = "white";
        if (issue.Fields.RAG != null)
        {
            if (issue.Fields.RAG.Value.Contains("Green"))
            {
                color = "green";
            }
            else if (issue.Fields.RAG.Value.Contains("Amber"))
            {

                color = "orange";
            }
            else if (issue.Fields.RAG.Value.Contains("Red"))
            {
                color = "darkred";
            }
        }
        return color;
    }
}

@{ 
    string colorStatus(Issue issue)
    {
        String status = issue.Fields.Status.Name;
        string color = "white";
        if (status.Contains("New")) {
            color = "white";
        }
        else if (status.Contains("Accepted Idea")){
            color = "grey";
        }
        else if (status.Contains("Refinement"))
        {
            color = "Turquoise";
        }
        else if (status.Contains("In Progress"))
        {
            color = "lightgreen";
        }
        else if (status.Contains("Done")){
            color = "green";
        }
     return color;
    }
}

@{ 

    string issueTypeColor(Issue issue)
    {
        String color = "white";

        if(issue.Fields.Type.Name.Equals("Tribe Objective"))
        {
            color = "#5BFE60";
        }
        else if(issue.Fields.Type.Name.Equals("Squad Objective"))
        {
            color = "#FFA0FF";
        }
        return color;
    }
}

    @foreach (Issue tribeObjective in Model.ToList())
    {
    <div style=" display: flex; flex-wrap: nowrap;">
        <div style="        background: @colorCardBasedOnRAG(tribeObjective);
        text-wrap: normal;
        width: 200px;
        height: 200px;
        border: solid;
        margin: 2px;
        flex-wrap: wrap">

            <div style="
            background: @issueTypeColor(tribeObjective); ">
                    <img src="@tribeObjective.Fields.Type.IconUrl" style="border: 1px solid black;" /> @tribeObjective.Key
            </div>
            <div style="background: @colorStatus(tribeObjective)">
                @tribeObjective.Fields.Status.Name
            </div>
            <div><b>@tribeObjective.Fields.Summary</b></div>
            <div>
                @if (tribeObjective.Fields.RAG != null)
                {@tribeObjective.Fields.RAG.Value}
            </div>

            <div>
                Children: @{Int32 children = tribeObjective.Children.Count + @tribeObjective.IsImplementedBy.Count;} @children
                
                Done: @tribeObjective.DoneChildren
            </div>

        </div>
        @foreach (Issue squadObjective in tribeObjective.Children)
        {
    <div style="        background: @colorCardBasedOnRAG(squadObjective);
        text-wrap: normal;
        width: 200px;
        height: 200px;
        border: solid;
        margin: 2px;
    ">
        <div style="
        background: @issueTypeColor(squadObjective);
        ">
            <img src="@squadObjective.Fields.Type.IconUrl" style="border: 1px solid black;" />
            @squadObjective.Key
        </div>
        <div style="background: @colorStatus(squadObjective)">
            @squadObjective.Fields.Status.Name
        </div>
        <div><b>@squadObjective.Fields.Summary </b></div>
        <div>
            @if (squadObjective.Fields.RAG != null)
            {@squadObjective.Fields.RAG.Value}
        </div>
        <div>
            Children: @{children = squadObjective.Children.Count + squadObjective.IsImplementedBy.Count;} @children

            Done: @squadObjective.DoneChildren
        </div>
    </div>
        }
    </div>
    }