@using DotJira;
@model QUPViewModel;

<div style="max-width: 400px; max-height: 400px">

    @foreach (Issue parent in Model.Issues)
    {
    <div><H1>@parent.Fields.Summary</H1></div>
        foreach (Issue child in parent.Children)
        {
            <a>@child.Fields.Summary</a>
            
            <div style="position:relative; float:right">

                <canvas id="@child.Key" width="400" height="400"></canvas>
            </div>
           <script>
            const ctx = document.getElementById('@child.Key').getContext('2d');
            const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],

                        datasets: [{
                label: ['Realized'],
                            data: @child.KPIs.RealizedJSON ,
                            backgroundColor: [
                                'rgba(99, 255, 132, 0.2)'
                            ],
                            borderColor: [
                                'rgba(99, 255, 132, 1)',
                            ],
                            borderWidth: 1
                        },

                        {
                label: ['budget'],
                            data: @child.KPIs.BudgetsJSON ,
                            backgroundColor: [
                                'rgba(173,216,230, 0.2)'
                            ],
                            borderColor: [
                                'rgba(173,216,230, 1)',
                            ],

                            borderWidth: 1
                        },]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                            }
                        }
                    }
                });
           </script>
            
        }        
    }
</div>