@using DotJira;
@using Newtonsoft.Json; 
@model QUPViewModel;

<script>

    function createGraph(key, labels, realized, budgets, chartType){
         ctx = document.getElementById(key).getContext('2d');
                    myChart = new Chart(ctx, {
                            type: chartType,
                        data: {
                            labels: labels,

                            datasets: [{
                        label: ['Realized'],
                                    data:  realized,
                                    backgroundColor: [
                                        'rgba(99, 255, 132, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(99, 255, 132, 1)',
                                    ],
                                    borderWidth: 1
                                },

                                {
                        label: ['budget'],
                                    data:  budgets,
                                    backgroundColor: [
                                        'rgba(173,216,230, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(173,216,230, 1)',
                                    ],

                                    borderWidth: 1
                                },]
                            },
                            options: {
                    scales: {
                        y: {
                            beginAtZero: false
                           }
                        }
                    }
                    });

    }

</script>

<div style="margin-left:20px;">
    @foreach (Issue parent in Model.Issues)
    {

    <div style="position: relative; height: 300px; float:left;">
        <div style="overflow-wrap: break-word; writing-mode: vertical-rl; text-orientation: mixed; float: left; padding-top:20px; background-color:#@parent.Fields.KeyResult1; color: #@parent.Fields.KeyResult2; width:50px; height:100%; "><b>@parent.Fields.Summary</b></div>
        <div style="float:left;">
            @foreach (Issue child in parent.Children)
            {
                <div style=" padding-right: 20px; padding-left:20px; position: relative; float: left;max-width:fit-content()">
                    <div style="height:100px; max-width: 300px; overflow-wrap: break-word;"><a>@child.Fields.Summary</a></div>
                    <div style="width: 380px; height: fit-content(); ">
                        <canvas id="@child.Key"></canvas>
                    </div>
                    @{
                        string chartType = "'bar'";

                        if (child.Fields.KeyResult1 != null)
                        {
                            chartType = child.Fields.KeyResult1;
                        }
                    }
                    <script>
                        createGraph("@child.Key", @Html.Raw(child.KPIs.LabelsJSON), @Html.Raw(child.KPIs.RealizedJSON),@Html.Raw(child.KPIs.BudgetsJSON),@Html.Raw(chartType));
                    </script>
                </div>
            }
        </div>        
    </div>
    }
</div>