@using DotJira;
@using Newtonsoft.Json; 
@model QUPViewModel;

<script>

    function createGraph(key, labels, realized, budgets){
         ctx = document.getElementById(key).getContext('2d');
                    myChart = new Chart(ctx, {
                            type: 'bar',
                        data: {
                            labels: labels,

                            datasets: [{
                        label: ['Realized'],
                                    data:  realized,
                                    backgroundColor: [
                                        'rgba(99, 255, 132, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(99, 255, 132, 1)',
                                    ],
                                    borderWidth: 1
                                },

                                {
                        label: ['budget'],
                                    data:  budgets,
                                    backgroundColor: [
                                        'rgba(173,216,230, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(173,216,230, 1)',
                                    ],

                                    borderWidth: 1
                                },]
                            },
                            options: {
                    scales: {
                        y: {
                            beginAtZero: false
                           }
                        }
                    }
                    });

    }

</script>

<div style="margin-left:20px;">
    @foreach (Issue parent in Model.Issues)
    {

    <div style="position: relative; max-height:fit-content(); float:left;">
        <div style="text-wrap:none; width: 400px;"><H2>@parent.Fields.Summary</H2></div>
        <div style="float:left;">
            @foreach (Issue child in parent.Children)
            {
                <div style="margin-right: 20px; position: relative; float: left; max-height:fit-content(); max-width:fit-content()">
                    <div style="height: 40px; width: 400px;"><a>@child.Fields.Summary</a></div>
                    <div style="width: 400px; height: fit-content(); ">
                        <canvas id="@child.Key"></canvas>
                    </div>
                    <script>
                        createGraph("@child.Key", @Html.Raw(child.KPIs.LabelsJSON), @Html.Raw(child.KPIs.RealizedJSON),@Html.Raw(child.KPIs.BudgetsJSON));
                    </script>
                </div>
            }
        </div>
    </div>
    }
</div>